body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

/* Main Div – Should keep everything centered and display items as flex */

.platform-grid {
    margin: 0 auto;
    max-width: 900px;

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;

    justify-content: center;
    align-items: top;
}


#todo-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    flex: 1;
}

h2 {
    text-align: center;
    color: #333;
}

.input-n-button-flex {
    margin-top: 8px;
}

.input-n-button-flex {
    display: flex;
    align-items: top;
}

.input-n-button-flex input[type="text"] {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 16px;
}

todo-input-input[type="text"] {
    margin-bottom: 8px;
}

input[type="text"] {
    /* width: calc(72%); */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.5s ease;
}

li label {
    flex-grow: 1;
}

li:last-child {
    margin-bottom: 0;
}

.delete {
    background-color: #f44336;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #d32f2f;
}

.task {
    /* flex-grow: 1; */
    margin-right: 12px;
    color: #333;
}


input[type="checkbox"] {
    display: inline-block;
    /* Ensure the container takes up only the necessary width */
    vertical-align: middle;
    /* Align the container vertically with adjacent elements */

    -webkit-appearance: none;
    -moz-appearance: none;

    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 8px;

    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #aaefad;
    border: 1px solid #4CAF50;
}


label {
    overflow-wrap: break-word;
}

/* When checkbox have been crossed, update the label by crossing it */
li input[type="checkbox"]:checked~label {
    text-decoration: line-through;
}

.urlListStyle {
    cursor: pointer;
}

ul li a {
    color: #272727;
    text-decoration: none;
}


@media (max-width: 900px) {
    .platform-grid {
        /* flex-direction: column; */
        /* flex-wrap: wrap;  */
        grid-template-columns: auto;

    }

    #todo-container {
        margin: 16px 20px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #fff;
    }

    #todo-container {
        background-color: #333;
        color: #fff;
    }

    h2,
    ul li a,
    .task {
        color: #fff;
    }

    input[type="text"] {
        background-color: #333;
        color: #fff;
    }

    input[type="text"]::placeholder {
        color: #999;
        /* Placeholder color in dark mode */
    }

    ul li {
        background-color: #444;
        color: #fff;
    }
}

